<!DOCTYPE html>
<html>
  <head>
    <title>PresentationLinksFormHelpers</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <%=link_to "home", categories_path%>
  <body>
    <%= yield %>
  </body>
</html>
